.homepage {
    .homepage-section-left {
        border-right: 5px solid #ECECF1;
        overflow-y: scroll;
        height: calc(100vh - 80px);

        .heading {
            padding-top: 50px;
            margin-bottom: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 15px;

            span {
                font-family: 'Poppins-medium';
                font-size: 20px;
            }

            input {
                padding-right: 15px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;
            padding-right: 15px;
           
        }
    }
}